body {
  width: 100%;
  margin: 7% auto;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  background-image: linear-gradient( 115deg, rgba(17, 23, 32, 0.7), rgba(17, 23, 32, 0.7) ), url(./images/background.jpeg);
  background-size:cover;

}

h1 {
  width: 900px;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  font-family: 'Press Start 2P', Open Sans;
  padding-bottom:40px;
}

@media screen and (min-width: 769px) {
  .grid-2-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    max-width:900px;
    margin:0 auto;
  }
  .grid-3-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin:0 auto;
  }
}
@media screen and (max-width: 768px) {
  .grid-2-col, .grid-3-col {
        display: block;
        padding: 15px;
  }
}  
.grid-2-col .title {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.grid-2-col .sub-title {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.box {
  background-color: rgb(27,27,50,0.8);
  border-radius: 8px;
  padding: 20px 20px 40px 20px;
  text-align: center;
}
.box one { 
  grid-area: 1 / 1 / 2 / 2;
}
.box two { 
  grid-area: 1 / 2 / 2 / 3;
}
.info-box {
}
.object-box {
  background: #ffffff;
  color: #333;
}
.fa-solid {
  font-size: 50px;
}
#description {
  font-style: italic;
  font-size: 19px;
  font-weight: 200;
  margin: 15px auto 40px auto;
  text-align: center;
  padding: 0 20px;
}

#label-description {
  font-size: 18px;
}

.main-section {
	width: 900px;
  max-width: 80%;
	margin: 0 auto;
  padding: 4%;
  background-color: rgb(27,27,50,0.8);
  border-radius: 5px;
}

label {
  display: block;
  font-size: 18px;
}

.form-item {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  min-height: 2em;
  padding: 7px;
  border-radius: 5px;
  border: 0px;
}

input, textarea {
  width: 98%;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #495057;
}

.smaller-label {
  font-size: 15px; 
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  width: 100%;
  margin: 1em auto;
  height: 40px;
  font-size: 1.1rem;
  background-color: #37af65;
  border: none;
  color: #ffffff;
  border-radius: 0px;
}

footer {
  text-align: center;
  padding: 2rem 0 0;
  color: #fff;
}
.attribution, footer a {
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}